

#admin-table {width: 70%;margin: 20px auto;border-collapse: collapse;background: white;}
#admin-table th {background: #368b7d;color: white;padding: 10px;}
#admin-table td {padding: 10px;text-align: center;}
button ,#adlog {
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background-color: #04e600;
  color:black;
  font-weight: bold;
}
button:hover {opacity: 0.8;}
header {
  padding: 1rem;
  background: linear-gradient(60deg,rgb(153, 107, 48),rgb(121, 61, 96),rgb(100, 142, 62));
  color: white;
  text-align: center;
}
.components {margin-top: 10px;}
.components button, .components a {margin-right: 15px;}
#admin-form12 {
  width: 100%;
  margin: 2rem auto;          /* centers the form box */
  display: flex;
  justify-content: center;    /* centers form horizontally */
}
#admin-form12 form {
  width: 100%;                /* use full container width */
  display: flex;
  flex-direction: column;
  align-items: center;        /* centers inputs & button */
  gap: 12px;
}
#admin-form12 input {width: 70%;padding: 8px;box-sizing: border-box;}
#admin-form12 button {width: 200px;margin-top: 10px;}