header{
    width:100%;
    height:70px;
    box-sizing: border-box;
    background: linear-gradient(60deg,rgb(153, 107, 48),rgb(121, 61, 96),rgb(100, 142, 62));
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 10rem;
    position: fixed;
    top:0;
    z-index: 100;
}
.components a{padding-left: 2rem;text-decoration: none; color:aliceblue;}
a:hover{color:rgb(100, 251, 158);}