#home-head{color:aliceblue;text-align: center;}
main {
  padding-top: 4rem;
  min-height: calc(100vh - 100px);
  background: url("./images/web12.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding-bottom: 2rem;}
#para-div1{width:70%;margin: 3rem auto;text-align: center; color: aliceblue;}
footer{
  text-align: center;
  background: linear-gradient(60deg,rgb(153, 107, 48),rgb(121, 61, 96),rgb(100, 142, 62));
  position: fixed;
  bottom:0;
  padding: 0.5rem;
  color:aliceblue;
  width: 100%;}