form {width: 100%;max-width: 600px;margin: 1rem auto;padding: 1rem;}
form div {display: flex;align-items: center;margin: 1rem auto;}
label {width: 150px;font-size: 1.2rem;font-weight: bold;}
input {
    width: 50%;
    padding: 0.7rem;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;}
#log-btn {
    display: block;
    padding: 0.7rem 4rem;
    margin: 1.5rem auto;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;}
.msg {
  text-align: center;
  font-size: 18px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;}
.msg.success {background-color: #d4edda;color: #155724;border: 2px solid #28a745;}
.msg.error {background-color: #f8d7da;color: #721c24;border: 2px solid #dc3545;}