h2{text-align: center; padding-top: 3rem;color:aliceblue;}
form {
    width: 100%;
    max-width: 600px;
    position: relative;
    left:3rem;
    margin:0px auto;
    padding: 1rem;
    border-radius: 8px;}
form div {display: flex;align-items: center;margin: 1rem 0;}
label {width: 180px;font-size: 1.1rem;font-weight: bold;color:aliceblue;}
input, textarea {
    width: 50%;
    padding: 0.7rem;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;}
#btn-sub {
    margin: 1rem auto;
    display: block;
    padding: 0.8rem 4rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;}
.msg {
   width:50%; 
  text-align: center;
  font-size: 18px;
  padding: 1px;
  margin: 10px auto;
  border-radius: 5px;
  font-weight: bold;}
.msg.success {background-color: #d4edda;color: #155724;border: 2px solid #28a745;}
.msg.error {background-color: #f8d7da;color: #721c24;border: 2px solid #dc3545;}

