
#event-catogeries {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
  z-index: 10;}
.card-box {
  background: white;
  width: 280px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  text-align: center;}
.catogeries-btn {margin-top: 10px;}